<h1>Log-in</h1>
<article>
<form action="/api/session/login" method="post">
<input id="log-email" type="email" name="email" placeholder="Enter your E-mail" required>
<input id="log-password" type="text" name="password" placeholder="Enter your password" required>
<a href="/password-change">I forgot my password</a>
<input type="submit" value="Log-in">
<a href="/api/session/github" role="button">Log with GitHub</a>
<a href="/register">Sign-up</a>
</form> 

</article>

