<h1>Sign-up</h1>
<article>
<form action="/api/session/register" method="post">
<input id="log-first-name" type="text" name="first_Name" placeholder="Enter your first name" required>
<input id="log-last-name" type="text" name="last_Name" placeholder="Enter your last name" required>
<input id="reg-email" type="email" name="email" placeholder="Enter your E-mail" required>
<input id="reg-password" type="password" name="password" placeholder="Enter your password" required>
<input id="reg-age" type="number" name="age" placeholder="Enter your age">
<input type="submit" value="Sign-in">
<a href="/login">Log-in</a>
</form> 
</article>